%% -*- mode: erlang -*-
%% Copyright (c) 2022 Peter Morgan <peter.james.morgan@gmail.com>
%%
%% Licensed under the Apache License, Version 2.0 (the "License");
%% you may not use this file except in compliance with the License.
%% You may obtain a copy of the License at
%%
%% http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing, software
%% distributed under the License is distributed on an "AS IS" BASIS,
%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%% See the License for the specific language governing permissions and
%% limitations under the License.

[{kernel, [{logger_level, info},
           {logger,
            [{module_level,
              debug,
              [%% scran,
               %% scran_branch,
               %% scran_character_complete,
               %% scran_combinator,
               %% scran_multi,
               %% scran_sequence,
               %% msc_mm_common,
               %% msmp_binary_resultset_row,
               %% msmp_decimal,

               %% envy_gen,

               ignored]},

             {module_level,
              info,
              []},

             {module_level, notice, [supervisor_bridge,
                                     supervisor]},

             {module_level, emergency, [application_controller]},

             {handler,
              default,
              logger_std_h,
              #{config => #{%% file => "msec.log",
                            sync_mode_qlen => 0},
                formatter => {logger_formatter,
                              #{template => [[logger_formatter, header],
                                             {pid, [" ", pid, ""], ""},
                                             {mfa, [" ", mfa, ":", line], ""},
                                             "\n",
                                             msg,
                                             "\n"],
                                legacy_header => true,
                                single_line => false}}}}]}]},

 {metrics, [{http_enabled, true},
            {metrics_observations_sup_enabled, true}]},

 {resp, [{listener_enabled, true},
         {telemetry_module, msec_telemetry_resp_metrics},
         {telemetry_function, handle},

         %% hibernate after inactive milliseconds
         {listener_hibernate_after, 500},
         {telemetry_hibernate_after, 500},

         {protocol_callback, msec_resp_emulator}]},

 {msec, [%% {msc_mm_trace, true},
         %% {msc_socket_trace, true},
         {leveled_root_path, "data"},
         %% {binlog_replica_trace, true},

         {telemetry_module, msec_telemetry_metrics},
         {telemetry_function, handle},

         %% hibernate after inactive milliseconds
         {replica_hibernate_after, 500},
         {storage_hibernate_after, 500},
         {telemetry_hibernate_after, 500},

         %% expire in memory (ETS) cache entries after inactive
         %% milliseconds
         {timeout_expiry, 60_000},

         {replica_uuid, <<"ff275651-e77b-4acf-92f5-fb78b43ab40e">>},
         {database_uri, <<"mysql://root:secret@localhost:3306/shortishly">>}]},

 {msc, [{telemetry_module, msec_telemetry_msc_metrics},
        {telemetry_function, handle},

        %% hibernate after inactive milliseconds
        {mm_hibernate_after, 500},
        {socket_hibernate_after, 500},
        {telemetry_hibernate_after, 500}]}].
